<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title><%= opt.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="js/dataTable/css/jquery.dataTables.css" rel="stylesheet">-->
    <link href="css/datatable.css" rel="stylesheet">
    <link href="css/wisemap.css" rel="stylesheet">
    <!--<link href="css/demo_table_jui.css" rel="stylesheet">-->
    <link href="css/jquery.contextMenu.css" rel="stylesheet">
    <link href="css/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="js/jqTree/jqtree.css" rel="stylesheet">
    <link href="js/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" type="text/css"/>
    <!--<link href="js/message/css/messenger.css" rel="stylesheet"/>-->
    <!--<link href="js/message/css/messenger-theme-air.css" rel="stylesheet"/>-->
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
    <link href="/css/jquery.ui.1.10.0.ie.css" rel="stylesheet">
    <![endif]-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="js/dateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="js/bootstrapSlider/bootstrap-slider.min.css" rel="stylesheet">
    <link href="js/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" type="text/css"/>
    <link href="css/customerSelector.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
    <!--<link rel="shortcut icon" href="../assets/ico/favicon.png">-->
    <style>
        .accordion-inner {
            padding: 0px;
        }

        .accordion {
            margin-bottom: 0px;
            background-color: #eee;
        }

        .sidebar-nav {
            padding-bottom: 3000px;
            margin-bottom: -3000px;
            overflow: hidden;
            background-color: #fff;
            border-right: solid 1px #eee;
        }

        /*.nav {*/
            /*background-color: #eee;*/
            /*margin-bottom: 0px;*/
        /*}*/
        .vehicleNav {
            background-color: #eee;
            margin-bottom: 0px;
        }

        .accordion-group {
            margin-bottom: 0px;
        }

        .accordion-body {
            background-color: #fff;
            max-height:276px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        #mainBoard.nav-tabs>li {
            margin-bottom: 0px;
            font-size: 12px;
        }

        #mainBoard.nav-tabs {
            border-bottom: 0px solid #ddd;
        }

        #mainBoard>li>a {
            color: #777;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #mainBoard>li.active>a {
            color: #333;
        }

        #vehicle_list {
            margin: 0px;
            margin-bottom: 10px;
            font-size: 12px;
        }

        #vehicle_list.table-bordered {
            border: 0px solid #ddd;
            border-collapse: separate;
            border-left: 0;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        #vehicle_list th {
            border-left: 0px solid #ddd;
            background-color: #f5f5f5;
        }

        #vehicle_list td {
            border-left: 0px solid #ddd;
        }

        #vehicle_list tr._run {
            color: #00a349;
        }

        #vehicle_list tr._alert {
            color: #ee2a30;
        }

        #vehicle_list tr._offline {
            color: #a0a0a0;
        }

        table.dataTable tbody td {
            border-top: 0px;
        }

        .pagination {
            margin-right: 5px!important;
        }

        .did {

        }

        #refreshText {
            position: absolute;
            top: 50px;
            left: 400px;
            background-color: rgba(255, 255, 255, 0.70);
            padding: 5px;
            font-size: 12px;
            color: #333333;
            display: none;
        }

        #refreshText .interval {
            color: red;
        }

        #searchKey {
            width: 100%;
            border: 1px;
            padding: 5px;
            font-size: 12px;
            -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
             box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
        }

        .form-horizontal {
            padding: 10px 0px;
            font-size: 12px;
        }

        .form-horizontal .control-group {
             margin-bottom: 5px;
        }

        .form-horizontal .control-label {
            width: auto;
            padding-left: 10px;
            padding-right: 20px;
            font-size: inherit;
            min-width: 55px;
        }

        #info .form-horizontal .stat .control-label {
            width: 50px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: inherit;
            color: #08c;
        }

        #info .form-horizontal .stat .control-label2 {
            float: left;
            width: 50px;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: inherit;
            color: #08c;
        }

        #info hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .form-horizontal .control-value {
            width: auto;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 20px;
            font-size: inherit;
        }

        .form-horizontal .controls {
            margin-left: 0px;
            font-size: inherit;
            line-height: 30px;
        }

        .form-horizontal .controls .checkbox{
            font-size: inherit;
            vertical-align: middle;
            width: auto;
            padding: 5px;
            margin-bottom: 3px;
        }

        .form-horizontal .controls span{
            font-size: inherit;
            vertical-align: middle;
            width: auto;
            padding: 2px;
        }

        .form-horizontal .controls input {
            font-size: inherit;
            width: calc(100% - 110px);
        }

        .form-horizontal .controls .date {
            width: calc(100% - 100px);
        }

        .form-horizontal .controls .date input {
            font-size: inherit;
            width: calc(100% - 40px);
        }

        .slider.slider-horizontal {
            margin-top: 7px;
        }


        .slider.slider-horizontal {
            width: calc(100% - 100px);
            height: 20px;
        }

        .slider-selection {
            background: #08c;
        }

        .slider-handle.round {
            width: 0px;
        }

        .button-bar {
            padding-right: 16px;
            padding-bottom: 5px;
            float:right;
            width: 100%;
        }

        .button-bar #pause, .button-bar #startPlay {
            display: none
        }

        .waiting {
            padding-top: 5px;
            padding-left: 25px;
            display: none;
        }

        .data {
            display: none;
        }

        .empty {
            font-size: 12px;
            color: #999;
            display: block;
            height: 200px;
            padding: 0;
            margin: 0;
            text-align: center;
            padding-top: 50px;
        }

        .emptyTable {
            color: #999;
            width: 100%
        }

        .emptyTable td {
            text-align: center;
        }

        td.details-control {
            background: url('./images/details_open.png') no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url('./images/details_close.png') no-repeat center center;
        }

        .detail tr td {
            line-height: 15px;
        }

        .detail td {
            min-width: 60px;
        }

        .btn {
            margin-left: 5px;
        }
    </style>
</head>

<body>

<!-- 头部 -->
<% include html/header.html %>

<div class="container-fluid container-fluid2">
    <div id="alert" class="alert alert-block alert-error fade in">
        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
        <span id="err_msg"></span>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                <span data-i18n="playback.panel"><%= t('playback.panel') %></span><i id="accordion-icon" class="icon-arrow-up pull-right" style="padding-top: 3px;"></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <label class="control-label" for="name" data-i18n="vehicle.name"><%= t('vehicle.name') %></label>

                                        <div class="controls">
                                            <input id="name" name="name" type="text" placeholder="<%= t('vehicle.select_vehicle') %>" class="input" value="<%= vehicle.name || '' %>"  data-i18n="[placeholder]vehicle.select_vehicle">
                                            <input id="did" name="did" type="hidden" value="<%= vehicle.did || '' %>">
                                            <input id="workType" name="workType" type="hidden" value="<%= vehicle.workType || 0 %>">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <label class="control-label" for="startTime" data-i18n="playback.start_time"><%= t('playback.start_time') %></label>

                                        <div class="controls">
                                            <div class="controls input-append date startTime" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input1">
                                                <input id="startTime" size="16" type="text" value="">
                                                <!--<span class="add-on"><i class="icon-remove"></i></span>-->
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <label class="control-label" for="endTime" data-i18n="playback.end_time"><%= t('playback.end_time') %></label>

                                        <div class="controls">
                                            <div class="controls input-append date endTime" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input1">
                                                <input id="endTime" size="16" type="text" value="">
                                                <!--<span class="add-on"><i class="icon-remove"></i></span>-->
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <label class="control-label" for="speed" data-i18n="playback.playback_speed"><%= t('playback.playback_speed') %></label>

                                        <div class="controls">
                                            <input id="playbackSpeed" data-slider-id='playbackSpeed' type="text" data-slider-min="0" data-slider-max="10" data-slider-handle="round" data-slider-step="1" data-slider-value="5"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <label class="control-label" for="speed" data-i18n="playback.playback_progress"><%= t('playback.playback_progress') %></label>

                                        <div class="controls">
                                            <input id="playbackProgress" data-slider-id='playbackProgress' type="text" data-slider-min="1" data-slider-max="100" data-slider-handle="round" data-slider-tooltip="hide" data-slider-step="1" data-slider-value="0"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <!-- Text input-->
                                        <label class="control-label" for="speed" data-i18n="playback.display_setting"><%= t('playback.display_setting') %></label>

                                        <div class="controls">
                                            <input class="checkbox" type="checkbox" id="chkLine"><span data-i18n="playback.track_line"><%= t('playback.track_line') %></span>
                                            <input class="checkbox" type="checkbox" id="chkPoint"><span data-i18n="playback.track_point"><%= t('playback.track_point') %></span>
                                            <input class="checkbox" type="checkbox" id="chkIdle"><span data-i18n="playback.idle"><%= t('playback.idle') %></span>
                                        </div>
                                    </div>
                                    <div class="control-group button-bar">
                                        <!-- Text input-->
                                        <div class="pull-left waiting">
                                            <img style='width:16px;height:16px' src='/img/waiting.gif'/>&nbsp<span data-i18n="playback.querying"><%= t('playback.querying') %></span>
                                        </div>
                                        <button class="btn pull-right" type="button" id="pause" data-i18n="playback.pause"><%= t('playback.pause') %></button>
                                        <button class="btn pull-right btn-primary" type="button" id="startPlay" data-i18n="playback.play"><%= t('playback.play') %></button>
                                        <button class="btn pull-right btn-primary" type="button" id="query" data-i18n="playback.query"><%= t('playback.query') %></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul id="mainBoard" class="nav nav-tabs vehicleNav">
                    <li class="active">
                        <a id="detailTitle" href="#detail" data-toggle="tab" data-i18n="playback.list"><%= t('playback.list') %></a>
                    </li>
                    <li>
                        <a id="infoTitle" href="#info" data-toggle="tab" data-i18n="playback.info"><%= t('playback.info') %></a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#stop" data-toggle="tab">停留记录</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#speedChart" data-toggle="tab">速度曲线</a>-->
                    <!--</li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="info">
                        <div class="empty" data-i18n="playback.no_data"><%= t('playback.no_data') %></div>
                        <div class="form-horizontal data">
                            <!--<div class="control-group stat">-->
                                <!--&lt;!&ndash; Text input&ndash;&gt;-->
                                <!--<label class="control-label">行驶里程: </label>-->
                                <!--<label class="control-label2" id="mileage">56公里</label>-->
                                <!--<label class="control-label">行驶时间: </label>-->
                                <!--<label class="control-label2" id="duration">5小时</label>-->
                            <!--</div>-->
                            <!--<div class="control-group stat">-->
                                <!--&lt;!&ndash; Text input&ndash;&gt;-->
                                <!--<label class="control-label">平均时速: </label>-->
                                <!--<label class="control-label2" id="avgSpeed">50公里</label>-->
                                <!--<label class="control-label">停留时间: </label>-->
                                <!--<label class="control-label2" id="stopTime">19小时</label>-->
                            <!--</div>-->
                            <!--<hr>-->
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.gps_time"><%= t('monitor.gps_time') %></label>
                                <label class="control-value" id="gpsTime"></label>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.rcv_time"><%= t('monitor.rcv_time') %></label>
                                <label class="control-value" id="rcvTime"></label>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.speed"><%= t('monitor.speed') %></label>
                                <label class="control-value" id="speed"></label>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.direct"><%= t('monitor.direct') %></label>
                                <label class="control-value" id="direction"></label>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.status"><%= t('monitor.status') %></label>
                                <label class="control-value" id="status"></label>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.locate"><%= t('monitor.locate') %></label>
                                <label class="control-value" id="lonLat"></label>
                            </div>
                            <div class="control-group">
                                <!-- Text input-->
                                <label class="control-label" data-i18n="monitor.location"><%= t('monitor.location') %></label>
                                <label class="control-value" id="location"></label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="detail">
                        <div id="vehicle_panel">
                            <table class="table table-hover" width="100%" cellpadding="0"
                                   cellspacing="0" border="0" id="vehicle_list">
                                <thead>
                                    <tr class="tops">
                                        <th width="20px" style="text-align: center !important;"></th>
                                        <th style="width: 35%; text-align: center !important" data-i18n="monitor.time"><%= t('monitor.time') %></th>
                                        <!--<th style="width: 15%; text-align: center !important">ACC</th>-->
                                        <!--<th style="width: 15%; text-align: center !important">时速</th>-->
                                        <th style="text-align: center !important" data-i18n="monitor.status"><%= t('monitor.status') %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="emptyTable">
                                        <td colspan="5" data-i18n="playback.no_data"><%= t('playback.no_data') %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="stop">

                    </div>
                    <div class="tab-pane" id="speedChart">

                    </div>
                </div>

                <!--<ul class="nav nav-list vehicle-list">-->
                    <!--<li class="nav-header">-->
                            <!--<span style="width: 80px">名称</span>-->
                            <!--<span>ACC</span>-->
                            <!--<span>状态</span>-->
                            <!--<span>速度</span>-->
                    <!--</li>-->
                    <!--<li id="2" class="custType"><a href="#">代理商</a></li>-->
                    <!--<li id="8" class="custType"><a href="#">集团客户</a></li>-->
                    <!--<li id="7" class="custType"><a href="#">个人客户</a></li>-->
                <!--</ul>-->
                <!--<form class="myform">-->
                    <!--<div id="customer-tool" class="customer-tool input-append" style="line-height: 40px">-->
                        <!--<input class="input-xsmall" id="customerKey" type="text" data-provide="typeahead" data-items="5" autocomplete="off" data-source="" placeholder="搜索用户">-->
                        <!--<button type="button" class="btn btn-primary" id="searchCustomer" display="none">搜索</button>-->
                        <!--&lt;!&ndash;<button type="button" class="btn btn-primary" id="addCustomer">新增</button>&ndash;&gt;-->
                        <!--&lt;!&ndash; <a href="#frmCustomer" role="button" class="btn" data-toggle="modal" title="新增用户"><i class="icon-plus"></i></a> &ndash;&gt;-->
                    <!--</div>-->
                <!--</form>-->
                <!--<ul id="customer_list" class="nav nav-list customer-list">-->
                <!--</ul>-->

            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div id="map_canvas">
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <!-- 新增或者修改账户 -->
    <% include dialog/frmAccount.html %>

    <!-- 停留分布 -->
    <% include dialog/frmIdle.html %>

</div>
<!--/.fluid-container-->
<!-- 版本信息 -->
<% include html/footer.html %>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="js/jquery.js"></script>-->
<script src="js/dataTable/js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
<script src='js/jquery.cookie.js'></script>
<script src="js/dataTable/js/jquery.dataTables.js"></script>
<!--<script src="js/dataTable/js/dataTables.bootstrap.js"></script>-->
<script src="js/jquery.contextmenu.r2.js"></script>
<script src="js/jquery.placeholder.1.3.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.dataTable.js"></script>
<script src="js/locales.js"></script>
<!--<script src="js/message/js/messenger.min.js"></script>-->
<!--<script src="js/message/js/messenger-theme-future.js"></script>-->
<script src='js/md5.js'></script>
<script src="js/system.js"></script>
<script src="js/wistorm/md5.js"></script>
<script src="js/wistorm/define.js"></script>
<script src="js/wistorm/wistorm.js"></script>
<script src="js/json.js"></script>
<script src="js/account.js"></script>
<!--<script src="js/map.js"></script>-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B40b712d90ffc5e40854d259b2e627cd"></script>
<script src="js/MapJs/global.js"></script>
<script src="js/MapJs/define.js"></script>
<script src="js/MapJs/convertor.js"></script>
<script src='js/MapJs/bmap.js'></script>
<script src="js/MapJs/wisemap.js"></script>
<script type="text/javascript" src="js/dateTimePicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrapSlider/bootstrap-slider.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/dateTimePicker/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/zTree/js/jquery.ztree.core-3.4.js"></script>
<script type="text/javascript" src="js/zTree/js/jquery.ztree.excheck-3.4.js"></script>
<script src="js/vehicleSelector.js"></script>
<script src="js/playback.js"></script>
<script src="js/idle.js"></script>
<script src="js/datepicker-zh-CN.js"></script>

</body>
</html>