<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title><%= t('monitor.trace') %> - <%= vehicle.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="js/dataTable/css/jquery.dataTables.css" rel="stylesheet">-->
    <link href="css/datatable.css" rel="stylesheet">
    <!--<link href="css/demo_table_jui.css" rel="stylesheet">-->
    <link href="css/wisemap.css" rel="stylesheet">
    <!--<link href="css/demo_table_jui.css" rel="stylesheet">-->
    <link href="css/jquery.contextMenu.css" rel="stylesheet">
    <link href="css/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="js/jqTree/jqtree.css" rel="stylesheet">
    <link href="js/zTree/css/metroStyle/metroStyle.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
    <link href="css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
    <link href="/css/jquery.ui.1.10.0.ie.css" rel="stylesheet">
    <![endif]-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
    <!--<link rel="shortcut icon" href="../assets/ico/favicon.png">-->
    <style>
        body {
            padding: 0px;
        }

        .sidebar-nav {
            padding-bottom: 3000px;
            margin-bottom: -3000px;
            overflow: hidden;
            background-color: #fff;
            border-right: solid 1px #eee;
        }


        #vehicle-status.nav-tabs>li {
            margin-bottom: 0px;
            font-size: 12px;
        }


        #vehicle-status>li>a {
            color: #777;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #vehicle-status>li.active>a {
            color: #333;
        }

        #vehicle_list {
            margin: 0px;
            margin-bottom: 10px;
            font-size: 12px;
        }

        #vehicle_list.table-bordered {
            border: 0px solid #ddd;
            border-collapse: separate;
            border-left: 0;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        #vehicle_list th {
            border-left: 0px solid #ddd;
            background-color: #f5f5f5;
        }

        #vehicle_list td {
            border-left: 0px solid #ddd;
        }

        #vehicle_list tr._run {
            color: #00a349;
        }

        #vehicle_list tr._alert {
            color: #ee2a30;
        }

        #vehicle_list tr._offline {
            color: #a0a0a0;
        }

        table.dataTable tbody td {
            border-top: 0px;
        }

        #refreshText {
            position: absolute;
            top: 10px;
            left: 70px;
            background-color: rgba(255, 255, 255, 0.70);
            padding: 5px;
            font-size: 12px;
            color: #333333;
            display: block;
        }

        #refreshText .interval {
            color: red;
        }

        .infowin-button .btn {
            font-size: 12px;
            padding: 2px 7px 2px 7px;
            margin-right: 5px;
        }

        .tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:hover, .tabs-left>.nav-tabs .active>a:focus {
            border-color: #fff #ddd #fff #fff;
        }
        .tabs-left>.nav-tabs>.active>a, .tabs-left>.nav-tabs>.active>a:hover, .tabs-left>.nav-tabs>.active>a:focus {
            background-color: #f7f7f7;
        }

        select {
            /*margin-top: 5px;*/
            margin-bottom: 5px;
        }

        form {
            margin: 0 0 0px;
        }

        .dataTables_scrollBody {
            height: 180px!important;
        }

    </style>
</head>

<body>

<div class="row-fluid">
    <!--/span-->
    <div id="map_canvas">
    </div>
    <div id="refreshText"></div>
    <input type="hidden" id="did" value="<%= vehicle.did %>">
    <!--/span-->
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="vehicle_panel">
            <table class="table table-hover" width="100%" cellpadding="0"
                   cellspacing="0" border="0" id="vehicle_list">
                <thead>
                <tr class="tops">
                    <th style="width: 100px; text-align: center !important" data-i18n="monitor.name"><%= t('monitor.name') %></th>
                    <th style="width: 60px; text-align: center !important">ACC</th>
                    <th style="width: 60px; text-align: center !important" data-i18n="monitor.locate"><%= t('monitor.locate') %></th>
                    <th style="width: 60px; text-align: center !important" data-i18n="monitor.speed"><%= t('monitor.speed') %></th>
                    <th style="width: 80px; text-align: center !important" data-i18n="monitor.mileage"><%= t('monitor.mileage') %></th>
                    <th style="width: 60px; text-align: center !important" data-i18n="monitor.direct"><%= t('monitor.direct') %></th>
                    <th style="width: 120px;" data-i18n="monitor.status"><%= t('monitor.status') %></th>
                    <th style="" data-i18n="monitor.location"><%= t('monitor.location') %></th>
                    <th style="width: 60px; text-align: center !important" data-i18n="monitor.lon"><%= t('monitor.lon') %></th>
                    <th style="width: 60px; text-align: center !important" data-i18n="monitor.lat"><%= t('monitor.lat') %></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!--/.well -->
    </div>
</div>
<!--/row-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="js/jquery.js"></script>-->
<script src="js/dataTable/js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
<script src='js/jquery.cookie.js'></script>
<script src="js/dataTable/js/jquery.dataTables.js"></script>
<!--<script src="js/dataTable/js/dataTables.bootstrap.js"></script>-->
<script src="js/jquery.contextmenu.r2.js"></script>
<script src="js/jquery.placeholder.1.3.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/bootstrap.dataTable.js"></script>
<script src="js/locales.js"></script>
<script src='js/md5.js'></script>
<script src="js/system.js"></script>
<script src="js/wistorm/md5.js"></script>
<script src="js/wistorm/define.js"></script>
<script src="js/wistorm/wistorm.js"></script>
<script src="js/json.js"></script>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B40b712d90ffc5e40854d259b2e627cd"></script>-->
<script src="js/MapJs/global.js"></script>
<script src="js/MapJs/define.js"></script>
<script src="js/MapJs/convertor.js"></script>
<script src='js/MapJs/bmap.js'></script>
<script src="js/MapJs/wisemap.js"></script>
<script src="js/trace.js"></script>

</body>
</html>